<div class="space space-component7">
  <div class="space space-component">
    <img class="image" src="https://media.istockphoto.com/photos/portrait-of-geeky-young-man-shouting-against-yellow-background-picture-id996797244?k=6&m=996797244&s=612x612&w=0&h=FH1xRDmiEQWsSyrXMAfgICG53GJ3C5GLmZnE_GaE14E=">
  </div>
  <div class="space space-component1">
    <input nbInput class="input size-xl-medium" placeholder="" type="file" shape="rectangle" status="basic">
  </div>
  <div class="space space-component2">
    
  </div>
  <div class="space space-component3">
    <h6 class="heading text-basic">Password</h6>
  </div>
  <div class="space space-component4">
    <label class="text text-basic label">Current Password</label>
    <input nbInput class="input1 size-xl-medium" placeholder="" type="password" shape="rectangle" status="basic">
  </div>
  <div class="space space-component5">
    <label class="text1 text-basic label">New Password</label>
    <input nbInput class="input2 size-xl-medium" placeholder="" type="password" shape="rectangle" status="basic">
  </div>
  <div class="space space-component6">
    <label class="text2 text-basic label">Repeat New Password</label>
    <input nbInput class="input3 size-xl-medium" placeholder="" type="password" shape="rectangle" status="basic">
  </div>
</div>