<nb-card class="card" >
  <nb-card-header>
    <div class="space space-component">
      <h5 class="heading text-basic">Profile</h5>
      <span class="text text-basic caption-2">Update your information here</span>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space-component9">
      <app-space551></app-space551>
      <div class="space space-component8">
        <div class="space space-component1">
          <h6 class="heading1 text-basic">Customer info</h6>
        </div>
        <div class="space space-component2">
          <label class="text1 text-basic label">Full Name</label>
          <input nbInput class="input size-xl-medium" placeholder="" type="text" shape="rectangle" status="basic">
        </div>
        <div class="space space-component3">
          <label class="text2 text-basic label">Company Name</label>
          <input nbInput class="input1 size-xl-medium" placeholder="" type="text" shape="rectangle" status="basic">
        </div>
        <div class="space space-component4">
          <h6 class="heading2 text-basic">Contact info</h6>
        </div>
        <div class="space space-component5">
          <label class="text3 text-basic label">Email</label>
          <input nbInput class="input2 size-xl-medium" placeholder="" type="email" shape="rectangle" status="basic">
        </div>
        <div class="space space-component6">
          <label class="text4 text-basic label">Phone</label>
          <input nbInput class="input3 size-xl-medium" placeholder="" type="text" shape="rectangle" status="basic">
        </div>
        <div class="space space-component7">
          <label class="text5 text-basic label">Address</label>
          <input nbInput class="input4 size-xl-medium" placeholder="" type="text" shape="rectangle" status="basic">
        </div>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="space space-component10">
      <button nbButton class="button size-xl-medium" appearance="outline" status="primary">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>Cancel</span>
      </button>
      <button nbButton class="button1 size-xl-medium" appearance="filled" status="success">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>Update Profile</span>
      </button>
    </div>
  </nb-card-footer>
</nb-card>