:host {

  width: 100%;
  height: auto;
  display: block;
  
  .heading {
    margin: 0 0 0 8px;
  }
    
  .space-component {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-start;
    padding: 0 0 4px 0;
    overflow: visible;
    background-color: unset;
  }
    
  .space-component1 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space-component2 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space-component3 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space-component4 {
    height: 100%;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  @media (max-width: 1024px) {
    .space-component1 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0 8px 16px 8px;
    }
    
    .space-component2 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space-component3 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }flex-grow: 1;
    
    .space-component4 {
      flex-direction: column;
    }
  }
    
  @media (max-width: 768px) {
    .space-component1 {
      padding: 0 0 16px 0;
    }
    
    .space-component2 {
      padding: 0;
    }
    
    .space-component3 {
      padding: 0;
    }
  }
  
}