:host {
  
  .space-component {
    height: calc(100vh - 0px - 16undefined - 16undefined);
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: visible;
    background-color: unset;
  }
  
}