<nb-card class="card" >
  <nb-card-body>
    <div class="space space-component4">
      <div class="space space-component">
        <img class="image" src="https://image.flaticon.com/icons/svg/1584/1584536.svg">
      </div>
      <div class="space space-component3">
        <div class="space space-component1">
          <h4 class="heading text-primary">2</h4>
        </div>
        <div class="space space-component2">
          <span class="text bold text-hint subtitle-2">Picking Lists</span>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>