<nb-card class="card" >
  <nb-card-header>
    <div class="space space-component">
      <h6 class="heading text-basic">Goods in Status</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space-component3">
      <div class="space space-component1">
        <app-pie-chart class="pie-chart" [data]="data"></app-pie-chart>
      </div>
      <div class="space space-component2">
        <button nbButton class="button size-xl-medium" appearance="filled" status="primary">
          <nb-icon class="icon btn-icon" icon="star"></nb-icon>
          <span>Check Goods</span>
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>