<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Voici le questionnaire à remplir</h5>
        <p class="category">Ce questionnaire sera étudier par votre médecin après l'avoir remplie.</p>
      </div>
      <div class="card-body">
        <!--contenu-->
        <mat-vertical-stepper [linear]="isLinear" #stepper >
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Premiere Question</ng-template>
              <mat-form-field>
                <mat-label>Avez-vous de la fièvre ? </mat-label>
                <mat-form-fiel-control></mat-form-fiel-control>
                <input type="checkbox" formControlName="firstCtrl" required>
              </mat-form-field> 
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Deuxieme Question</ng-template>
              <mat-form-field>
                <mat-label>Address</mat-label>
                <mat-form-fiel-control></mat-form-fiel-control>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                       required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious >Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Fin du questionnaire</ng-template>
            <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Validate</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
        
        <!--fin contenu-->
      </div>
    </div>
  </div>
</div>
