<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Voici le questionnaire à remplir</h5>
        <p class="category">Ce questionnaire sera étudier par votre médecin après l'avoir remplie.</p>
      </div>
      <div class="card-body">
        <!--contenu-->
        <mat-vertical-stepper [linear]="isLinear" #stepper >
          <form [formGroup]="firstFormGroup"  (ngSubmit)="validQuestionnaire()">
            <mat-step [stepControl]="firstFormGroup" *ngFor="let question of listQuestion">
              <ng-template matStepLabel>{{ question.title }}</ng-template>
              <mat-form-field>
                <mat-label>{{ question.description }}</mat-label>
                <input matInput placeholder="Saisissez votre réponse" formControlName="firstCtrl" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperNext>Suivant</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Validation du questionnaire</ng-template>
              <p>Vous avez terminer de répopndpre à toutes les questions.</p>
              <div>
                <button mat-button matStepperPrevious>Précédent</button>
                <button mat-button type="submit">Valider</button>
              </div>
            </mat-step>
          </form>
        </mat-vertical-stepper>
        <!--fin contenu-->
      </div>
    </div>
  </div>
</div>
