<div class="bg-cont">
  <div class="login-wrapper center" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Connexion</mat-card-title>
      </mat-card-header>

      <form class="example-form pad" [formGroup]="formGroup" (ngSubmit)="login()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="username">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Mot de passe" formControlName="password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="primary" class="btn-block">Se connecter</button>
      </form>
    </mat-card>

  </div>
</div>