<nb-layout withScroll [class.header-hidden]="!(layout$ | async)?.header">

  <nb-layout-header *ngIf="(layout$ | async)?.header" class="header" >
    <div class="space space-component2">
      <button nbButton class="button size-xl-medium" appearance="ghost" status="primary" (click)="toggleSidebar()">
        <nb-icon class="icon btn-icon" icon="menu"></nb-icon>
        <span></span>
      </button>
      <div class="space space-component">
        <span class="text bold text-primary subtitle">Dashboard</span>
      </div>
      <div class="space space-component1">
        <img class="image" src="https://media.istockphoto.com/photos/portrait-of-geeky-young-man-shouting-against-yellow-background-picture-id996797244?k=6&m=996797244&s=612x612&w=0&h=FH1xRDmiEQWsSyrXMAfgICG53GJ3C5GLmZnE_GaE14E=">
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar *ngIf="(layout$ | async)?.sidebar" class="sidebar" responsive [collapsedBreakpoints]="['xs', 'is', 'sm']" [compactedBreakpoints]="[]">
    <div class="space space-component3">
      <nb-menu class="menu" [items]="items"></nb-menu>
    </div>
  </nb-sidebar>

  <nb-layout-column [style.padding]="padding$ | async">
    <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>
