<nb-card class="card" >
  <nb-card-header>
    <div class="space space-component11">
      <h6 class="heading4 text-basic">Sales Activity</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space-component10">
      <div class="space space-component8">
        <div class="space space-component">
          <nb-icon class="icon hint large" icon="car"></nb-icon>
          <span class="text text-hint subtitle">TO BE SHIPPED</span>
        </div>
        <div class="space space-component1">
          <h4 class="heading text-danger">2</h4>
        </div>
        <div class="space space-component2">
          <nb-icon class="icon1 hint large" icon="checkmark-circle-2"></nb-icon>
          <span class="text1 text-hint subtitle">CONFIRMED</span>
        </div>
        <div class="space space-component3">
          <h4 class="heading1 text-success">2</h4>
        </div>
        <div class="space space-component4">
          <nb-icon class="icon2 hint large" icon="flag"></nb-icon>
          <span class="text2 text-hint subtitle">TO BE DELIVERED</span>
        </div>
        <div class="space space-component5">
          <h4 class="heading2 text-success">2</h4>
        </div>
        <div class="space space-component6">
          <nb-icon class="icon3 hint large" icon="credit-card"></nb-icon>
          <span class="text3 text-hint subtitle">TO BE INVOICED</span>
        </div>
        <div class="space space-component7">
          <h4 class="heading3 text-success">2</h4>
        </div>
      </div>
      <div class="space space-component9">
        <app-bar-chart class="bar-chart" [data]="data"></app-bar-chart>
      </div>
    </div>
  </nb-card-body>
</nb-card>