:host {
  
  .space-component {
    height: calc(100vh - 80px - 16px - 16px);
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
  
}