<div class="space space-component6">
  <div class="space space-component">
    <h6 class="heading text-basic">Sales Activity</h6>
  </div>
  <app-space13></app-space13>
  <app-inventory-summary></app-inventory-summary>
  <div class="space space-component5">
    <div class="space space-component1">
      <app-goods-status></app-goods-status>
    </div>
    <div class="space space-component3">
      <div class="space space-component2">
        <app-goods-table></app-goods-table>
      </div>
    </div>
    <div class="space space-component4">
      <app-sales-activity></app-sales-activity>
    </div>
  </div>
</div>