:host {
  
  .heading {
    margin: 0;
  }
    
  .space-component {
    height: 40px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space-component1 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space-component2 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .space-component3 {
    height: auto;
    min-height: 2rem;
    width: 66.66666666666667%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .space-component4 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space-component5 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .space-component6 {
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  @media (max-width: 1024px) {
    .space-component1 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space-component3 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0 0 12px 0;
    }
  }
    
  @media (max-width: 768px) {
    .space-component1 {
      padding: 0;
    }
    
    .space-component4 {
      padding: 0;
    }
  }
  
}