<nb-card class="card" >
  <nb-card-header>
    <div class="space space-component2">
      <div class="space space-component">
        <img class="image" src="https://image.flaticon.com/icons/svg/1391/1391041.svg">
      </div>
      <div class="space space-component1">
        <h5 class="heading text-basic">Login</h5>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space-component6">
      <app-sign-up-form11></app-sign-up-form11>
      <div class="space space-component3">
        <a href="" target="_blank"  class="link text-primary">Forgot password?</a>
      </div>
      <div class="space space-component4">
        <button nbButton class="button size-xl-medium" appearance="filled" status="success">
          <nb-icon class="icon btn-icon" icon="star"></nb-icon>
          <span>Login</span>
        </button>
      </div>
      <div class="space space-component5">
        <span class="text text-hint subtitle">Or login with</span>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="space space-component8">
      <div class="space space-component7">
        <a nbButton href="" target="_blank"  class="button-link size-xl-medium" appearance="filled" status="primary">
          <nb-icon class="icon btn-icon" icon="star"></nb-icon>
          <span>Facebook</span>
        </a>
        <a nbButton href="" target="_blank"  class="button-link1 size-xl-medium" appearance="filled" status="info">
          <nb-icon class="icon btn-icon" icon="star"></nb-icon>
          <span>Twitter</span>
        </a>
        <a nbButton href="" target="_blank"  class="button-link2 size-xl-medium" appearance="filled" status="danger">
          <nb-icon class="icon btn-icon" icon="star"></nb-icon>
          <span>Google</span>
        </a>
      </div>
    </div>
  </nb-card-footer>
</nb-card>