@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((

  header-height: 80px,
  header-padding: 16px,
  header-background-color: background-basic-color-1,
  sidebar-width: 256px,
  sidebar-padding: 16px,
  sidebar-background-color: background-basic-color-1,

  border-radius: 0.25rem,
  bg-default-color: color-basic-100,
  bg-disabled-color: color-basic-400,
  card-disabled-header-border-color: color-basic-500,
  card-disabled-footer-border-color: color-basic-500,
  table-disabled-border-color: color-basic-500,
  bg-hint-color: color-basic-200,
  card-hint-header-border-color: color-basic-300,
  card-hint-footer-border-color: color-basic-300,
  table-hint-border-color: color-basic-400,
  table-border-color: color-basic-500,
  shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1),

  input-tiny-max-width: 100%,
  input-small-max-width: 100%,
  input-medium-max-width: 100%,
  input-large-max-width: 100%,
  input-giant-max-width: 100%,
  select-tiny-max-width: 100%,
  select-small-max-width: 100%,
  select-medium-max-width: 100%,
  select-large-max-width: 100%,
  select-giant-max-width: 100%,
  color-basic-100: #FFFFFF,
  color-basic-200: #F7F9FC,
  color-basic-300: #EDF1F7,
  color-basic-400: #E4E9F2,
  color-basic-500: #C5CEE0,
  color-basic-600: #8F9BB3,
  color-basic-700: #2E3A59,
  color-basic-800: #222B45,
  color-basic-900: #1A2138,
  color-basic-1000: #151A30,
  color-basic-1100: #101426,

  color-primary-100: #D6E4FF,
  color-primary-200: #ADC8FF,
  color-primary-300: #84A9FF,
  color-primary-400: #6690FF,
  color-primary-500: #3366FF,
  color-primary-600: #254EDB,
  color-primary-700: #1939B7,
  color-primary-800: #102693,
  color-primary-900: #091A7A,

  color-info-100: #D8F4FE,
  color-info-200: #B1E5FE,
  color-info-300: #89D1FE,
  color-info-400: #6CBEFD,
  color-info-500: #3C9FFC,
  color-info-600: #2B7CD8,
  color-info-700: #1E5CB5,
  color-info-800: #134192,
  color-info-900: #0B2D78,

  color-success-100: #F0FCD5,
  color-success-200: #DEFAAD,
  color-success-300: #C3F282,
  color-success-400: #A7E661,
  color-success-500: #80D631,
  color-success-600: #63B823,
  color-success-700: #499A18,
  color-success-800: #327C0F,
  color-success-900: #226609,

  color-warning-100: #FDEECB,
  color-warning-200: #FCD797,
  color-warning-300: #F8BA63,
  color-warning-400: #F19D3C,
  color-warning-500: #e97000,
  color-warning-600: #C85500,
  color-warning-700: #A73F00,
  color-warning-800: #872B00,
  color-warning-900: #6F1E00,

  color-danger-100: #FFE7D8,
  color-danger-200: #FFC9B1,
  color-danger-300: #FFA58A,
  color-danger-400: #FF836D,
  color-danger-500: #FF4A3D,
  color-danger-600: #DB2C2F,
  color-danger-700: #B71E2D,
  color-danger-800: #93132A,
  color-danger-900: #7A0B28,

  
  card-margin-bottom: 0,
  outline-width: 0,
  
), light, default);

