<nb-card class="card" >
  <nb-card-body>
    <div class="space space-component4">
      <div class="space space-component">
        <img class="image" src="https://image.flaticon.com/icons/svg/1653/1653685.svg">
      </div>
      <div class="space space-component3">
        <div class="space space-component1">
          <h4 class="heading text-primary">2</h4>
        </div>
        <div class="space space-component2">
          <span class="text bold text-hint subtitle-2">Receipts Due</span>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>